<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Håndterer Node.js-filer via iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Gør fejlfinding lettere -->
    <rewrite>
      <rules>
        <!-- Ret trafik til server.js -->
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Standard IISNode-konfiguration -->
    <iisnode
      loggingEnabled="true"
      devErrorsEnabled="true"
    />

    <!-- Cache statiske filer -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
